body {
    background: url('photos/couv2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.navbar-brand {
  font-size: 2.5em;
}

.nav-item {
  font-size: 1.3em;
}

.card {
	
	margin-top: 300px;
	margin-bottom : 300px;
	
	box-shadow: 8px 8px 4px rgba(0,0,0,0.5),
	-8px 8px 4px rgba(0,0,0,0.5);
    opacity: 90%;
}

input[type=text], input, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
  input[type=submit] {
    background-color: #4c98af;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: #1f3941;
  }
  
 
  #formulaire-contact {
    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1em;
    box-shadow: 8px 8px 4px rgba(0,0,0,0.5),
    -8px 8px 4px rgba(0,0,0,0.5);
      opacity: 90%;
  }

